# Ignore Python virtual environment
Lib/
lib/
venv/
ENV/
env/
*.pyc
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model weights and large data
*.pkl
*.h5
*.pt
*.pth
*.ckpt
*.state_dict
notebooks/checkpoints/
